/* Our default values set as CSS variables */
:root {
  --color-bg: #bdc9ff;
  --color-text-main: #000000;
  --color-primary: #afece0;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
  --gray: rgba(24, 40, 69, 0.47);
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}

textarea:focus,
input:focus {
  outline: 0;
}

*:focus {
  outline: 0;
}
.input-message {
  border-color: var(--gray);
  resize: none;
  background-color: #f6f6f6;
}
[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  color: grey;
  display: block;
}

#qrcode.hidden {
  display: none;
}
input {
  background-color: transparent;
}
body {
  padding: 50px;
  background: linear-gradient(180deg, rgba(0, 168, 132, 1) 15%, #f0f2f5 15%);
}
.container-qr strong {
  margin-inline: 5px;
}
.container-qr p {
  margin-block: 25px;
}
.container-qr svg {
  display: inline;
  margin-inline: 5px;
}

#qrcode {
  width: 250px;

  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skeleton {
  background-color: #e2e5e7;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}
